.heading{
    background-color: gold;
    color:black;
}
.heading1{
    color:red;
}

p{
    color:white;
    
}
.bg-container{
    background-color: black;

}
.table-color{
    background-color: purple;
    color: white;
}
.table-color1{
    background-color: rgb(221, 22, 91);
    color: white;
}
.table-color2{
    background-color: rgb(18, 36, 169);
    color: white;
}
.table-color3{
    background-color: rgb(185, 92, 10);
    color: white;
}
.table-color4{
    background-color: rgb(245, 70, 6);
    color: white;
}
.heading2{
    background-color: aqua;
    color:red;
}